# Application Configurations
PROJECT_NAME="NextRound"
ENV="development"
DEBUG=true

# Database Configurations
DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/nextround"

# Redis Configurations
REDIS_URL="redis://localhost:6379/0"

# External Integrations
LITELLM_GEMINI_API_KEY=""
LITELLM_GROQ_API_KEY=""
CLOUDINARY_URL="cloudinary://api_key:api_secret@cloud_name"
JUDGE0_URL="http://localhost:2358"
JUDGE0_API_KEY=""
